.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: #444;
  text-align: center;
}

.hours {
  position: absolute;
  width: 5px;
  height: 120px;
  background: #222;
  top: 30px;
  left: 50%;
  transform-origin: bottom;
}

.minute {
  position: absolute;
  width: 3px;
  height: 150px;
  background: rebeccapurple;
  top: 0;
  left: 50%;
  transform-origin: bottom;
}

.second {
  position: absolute;
  width: 1px;
  height: 150px;
  background: red;
  top: 0;
  left: 50%;
  transform-origin: bottom;
}

.clock span {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.twelve {
  top: 10px;
  left: 46%;
}

.one {
  top: 10%;
  right: 26%;
}

.eleven {
  top: 10%;
  left: 26%;
}

.two {
  top: 25%;
  right: 10%;
}

.three {
  right: 10px;
  top: 46%;
}

.four {
  right: 30px;
  top: 67%;
}

.five {
  right: 78px;
  top: 80%;
}

.six {
  bottom: 10px;
  left: 50%;
}

.seven {
  left: 80px;
  top: 82%;
}

.eight {
  left: 30px;
  top: 67%;
}

.nine {
  left: 10px;
  top: 46%;
}

.ten {
  top: 25%;
  left: 10%;
}
